<!DOCTYPE html>
<html lang="en">
  <%# Head %> <%- include('./partials/head.ejs') %>

  <body>
    <%# navigation %> <%- include('./partials/nav.ejs') %>

    <div class="not-found content">
      <p>OOPS, page not found :(</p>
    </div>
    <%# Head %> <%- include('./partials/footer.ejs') %>
  </body>
</html>
