<!DOCTYPE html>
<html lang="en">
  <%# Head %> <%- include('./partials/head.ejs') %>

  <body>
    <%# navigation %> <%- include('./partials/nav.ejs') %>

    <div class="about content">
      <h2>About US</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Est iure,
        excepturi quasi voluptatem doloribus ad omnis incidunt dolor laudantium
        maiores magnam facere, sed minus laboriosam perspiciatis esse eligendi
        suscipit enim?
      </p>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Expedita
        dicta, recusandae rem reprehenderit sapiente repellat voluptatem, esse,
        et quas suscipit consequatur. Nam vero fugiat nisi, reprehenderit dicta
        blanditiis eum corrupti!
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate ut
        quos sapiente quisquam nemo repellendus, consectetur vel quaerat eveniet
        necessitatibus iusto praesentium mollitia voluptatum consequuntur. Ipsum
        nemo perferendis asperiores eos?
      </p>
    </div>
    <%# Head %> <%- include('./partials/footer.ejs') %>
  </body>
</html>
